body{
    background-color:salmon;
    text-align: center;
}

input{
    margin: 100px auto 100px;
    width: 350px;
    height: 40px;
    display: block;
    text-align: center;
}

#ovie{
    margin-top: 45px;
    width: 100px;
    background: lightgreen;
    margin: 100px auto 100px;

}

#kelly{
    width: 350px;
    height: 80px;
    color: white;
    background-color:blue;
    border-style: none;
    border-radius: 15px;
    margin-top: 100px;
}

h1{
    color: black;
    margin-top: 50px;
}

@media (min-width: 375px){
    input,
    #ovie,
    #kelly,
    h1 {
        width: 300px;
    }
}

@media (min-width: 768px) {
    input,
    #ovie,
    #kelly,
    h1 {
        width: 400px;
    }
}

@media (min-width: 1366px) {
    input,
    #ovie,
    #kelly,
    h1 {
        width: 800px;
    }
}